<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imagePath"
      alt="{{ recipe.name }}"
      class="img-responsive app-recipe-detail-image mt-5"
    />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h4 class="mt-4">{{ recipe.name }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="dropdown">
      <button
        class="btn btn-success dropdown-toggle btn-sm"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li
          class="dropdown-item app-recipe-detail-component-button"
          (click)="onAddToShoppingList()"
        >
          To Shopping List
        </li>
        <li class="dropdown-item" href="#">Edit Recipe</li>
        <li class="dropdown-item" href="#">Delete Recipe</li>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-xs">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
