<div class="row">
  <div class="col-xs-12 mt-2 mb-2">
    <button class="btn btn-secondary">New Recipe</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix d-flex justify-content-between pb-0"
    >
      <div class="pull-left">
        <h5 class="list-item-group-heading">Recipe Title</h5>
        <p class="list-group-item-text">Recipe Description</p>
      </div>
      <span class="pull-right">
        <img
          src="https://images.unsplash.com/photo-1578985545062-69928b1d9587?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=680&q=80"
          alt=""
          class="img-responsive recipe-list-image"
        />
      </span>
    </a>
    <app-recipe-item-component></app-recipe-item-component>
  </div>
</div>
